a {
  font-size: 2rem;
  font-weight: 500;
  /* color: var(--peach); */
  text-decoration: none;
  margin-right: 4rem;
}
a:hover {
  color: var(--brown);
}
a.btn {
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
a.btn-dark {
  /* border: 2px solid var(--peach); */
  background: transparent;
}
a.btn-orange {
  /* border: 2px solid transparent; */
  background: var(--brown);
  color: var(--peach);
}
