body {
  background: var(--color-white);
}
h2 {
  color: var(--dark-blue);
  /* margin: 3rem 0px; */
}
.container.adminOptions {
  min-height: 90vh;
  display: flex;
  margin: 0 10%;
}
.options-menu,
.display-form {
  margin: 0 auto;
  width: 40%;
}
li.ad-options:hover {
  color: var(--sky);
}
li.ad-options {
  list-style: none;
  margin: 2rem 0;
  padding: 1rem;
  background: var(--bg-grad);
  font-size: 1.6rem;
  border-radius: 1rem;
  width: 90%;
  cursor: pointer;
  box-shadow: 0px 5px 10px gray;
}
p.user-birth {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}
.EditUser,
.DeletePost,
.ResetuserPass,
.AddAdmin,
.RemoveAdmin {
  background: var(--bg-grad);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 10rem;
  box-shadow: 0px 5px 10px gray;
}
#passError {
  margin: 1rem;
}

@media only screen and (max-width: 700px) {
  .container.adminOptions {
    display: block;
  }
  .options-menu,
  .display-form {
    width: auto;
    padding-top: 4rem;
    text-align: center;
  }
  li.ad-options {
    width: auto;
  }
}
