.info-register {
  width: 80%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-left: 15rem;
}
.text {
  width: 100%;
  font-size: 12px;
  max-width: 95vh;
}
.info-register img {
  width: 100%;
  max-width: 130vh;
}
