body {
  background: var(--color-white);
}
.profile-divs {
  display: flex;
  margin-bottom: 5rem;
}
.profile-left,
.profile-right {
  flex: 1;
  color: var(--sky);
  border-radius: 1rem;
  min-height: 70vh;
}
.photo {
  background: #42a4fd73;
  margin-top: 4rem;
  padding: 1rem;
  min-height: 210px;
  min-width: 210px;
  width: 250px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.photo-options {
  text-align: center;
}
.options h2 {
  margin-top: 1rem;
}
.user-fields,
.options {
  margin-top: 5rem;
  max-width: 50rem;
  background: var(--bg-grad);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px gray;
}
/* .options {
  margin-top: 2rem;
} */
/* .user-fields {
  max-width: 50rem;
} */
.options form {
  border: 1px solid var(--sky);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem 0;
  max-width: 50rem;
}
.options .info-field {
  border: none;
  margin: 0;
}
.info-field {
  display: flex;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  border: 1px solid var(--sky);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.edit-icon {
  flex: 1;
  text-align: right;
  margin: 0 1rem;
}
.a-field {
  flex: 1;
  min-width: 50%;
}
.info-field-header {
  display: flex;
  margin: 1rem;
  margin-left: 0;
}
.info-field input {
  padding: 1px 4px;
  margin: 0px;
  border: none;
  background: var(--dark-blue);
  border: 1px solid var(--sky);
  color: var(--sky);
  outline: none;
  width: 35%;
  min-width: 14vh;
}
.profile-left button {
  margin: 1rem;
  min-width: 10rem;
  padding: 0.5rem;
  color: var(--sky);
  border: none;
  border-radius: 5px;
  background: var(--dark-blue);
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .profile-divs {
    display: block;
  }
  .profile-left,
  .profile-right {
    min-height: auto;
    margin: 0 2rem;
  }
}
