.profile-divs {
  display: flex;
}
.profile-left,
.profile-right {
  flex: 1;
  color: var(--sky);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 70vh;
}
.photo {
  background: #42a4fd73;
  /* margin: 1rem; */
  margin-top: 4rem;
  /* margin-left: 1rem; */
  padding: 1rem;
  min-height: 210px;
  min-width: 210px;
  width: 250px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
}
.options h2 {
  margin-top: 1rem;
}
.options {
  border: 1px solid var(--sky);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  width: 57%;
}
.options .info-field {
  border: none;
  margin: 0;
  width: 90%;
}
.user-fields {
  width: 57%;
}
.info-field {
  /* background: var(--peach); */
  display: flex;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  /* color: var(--dark-blue); */
  border: 1px solid var(--sky);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  /* width: 90%; */
}

.edit-icon {
  flex: 1;
  text-align: right;
}
.a-field {
  flex: 1;
  min-width: 70%;
}
.info-field-header {
  display: flex;
  margin: 1rem;
  margin-left: 0;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.info-field input {
  padding: 1px;
  margin: 0px;
  border: none;
  /* border-radius: 5px; */
  background: var(--dark-blue);
  border: 1px solid var(--sky);
  color: var(--sky);
  outline: none;
  width: 35%;
  min-width: 14vh;
}
.profile-left button {
  margin: 1rem;
  margin-left: 3%;
  min-width: 10rem;
  padding: 0.5rem;
  background: var(--sky);
  border: none;
  border-radius: 5px;
  color: var(--dark-blue);
  font-weight: 600;
  cursor: pointer;
}
.photo-options {
  text-align: center;
}
