h2 {
  color: var(--sky);
  font-size: 2rem;
}
form > * {
  width: 100%;
  max-width: 50rem;
  margin: 3rem auto;
}
.register {
  text-align: center;
}

form input {
  padding: 1rem;
  /* border: 1px solid #777; */
  border-radius: 5px;
  background: var(--peach);
  color: var(--sky);
  outline: none;
  width: 80%;
  font-size: 1.6rem;
}

form button {
  display: flex;
  padding: 1rem;
  background: var(--dark-blue);
  border: none;
  border-radius: 5px;
  color: var(--sky);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#passError {
  /* background: var(--sky); */
  border-radius: 5px;
  font-size: 16px;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
}
