.footer {
  background: var(--bg-grad);
  color: var(--dark-blue);
  min-height: 13vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-first,
.footer-second,
.footer-third {
  padding: 1rem;
  margin: 1rem;
  margin-left: 5rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 2rem;
}
.footer a {
  text-decoration: none;
  display: block;
  color: var(--dark-blue);
  font-size: 15px;
  font-weight: 600;
}
.footer-third .logo {
  display: flex;
  align-items: center;
  justify-content: normal;
  margin: 0;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 700px) {
  .footer .logo img {
    width: 75px;
  }
  .footer-first,
  .footer-second,
  .footer-third {
    margin: 0;
  }
}
