.create-btn {
  background: var(--peach);
  border: none;
  border-radius: 5px;
  color: var(--dark-blue);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0.5rem;
  box-shadow: -8px 10px 10px #0000002b;
}
textarea#content {
  min-height: 20vh;
  min-width: 96%;
  font-size: 1.6rem;
  font-family: var(--font-family);
  border: none;
  border-radius: 6px;
  padding: 1rem;
  margin: 5px;
  resize: none;
  box-shadow: 0px 10px 10px #0000002b;
}
input#title {
  min-width: 96%;
}
.post {
  align-items: flex-start;
  margin-bottom: 3rem;
  box-shadow: 8px 10px 10px #0000002b;
}
.post-text h3 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.4;
  /* text-transform: capitalize; */
  padding: 0 5px;
  background: var(--peach);
  width: 50%;
}
.post-text p {
  position: relative;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background: #87affd73;
  width: 100%;
  min-height: auto;
  /* min-height: 20vh; */
  border-radius: 1rem 0rem 0rem 0rem;
  margin-bottom: 0;
}
.post-properties {
  width: 50%;
  background: #87affd73;
}
.urgent-dot {
  position: absolute;
  top: 0;
  left: 0;
}
.post-text {
  color: var(--dark-blue);
}
.post-headings {
  display: flex;
  position: relative;
  width: 100%;
}
h3.heading-left {
  width: 80%;
  border-radius: 1rem 0rem 0rem 0rem;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid var(--color-white);
}
h3.heading-right {
  min-width: 30%;
  width: 30%;
  background: none;
  padding-left: 10px;
  padding-top: 5px;
}
p.timing {
  min-height: auto;
  background: none;
  position: absolute;
  width: auto;
  right: 0;
  top: 7px;
  padding: 7px;
  font-size: 10px;
}
.comment-options {
  display: flex;
}
.comment-options p {
  min-width: 50%;
  cursor: pointer;
  border-radius: 0;
}
p#add-comment {
  text-align: right;
}
.comments-section {
  min-width: 100%;
  width: 100%;
  background: #e9f1fd;
}
p.commentP {
  background: white;
  min-block-size: auto;
  width: 85%;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 5rem;
  padding: 1rem;
  border-radius: 0;
}
p.commentPShow {
  min-block-size: fit-content;
  color: var(--blue);
  font-size: 15px;
  font-weight: 600;
  padding: 1rem;
}
.comment-details {
  position: relative;
  min-width: 60%;
  width: 91%;
  margin: 1.5rem 0;
  min-block-size: auto;
  background: lavender;
  border-radius: 0rem 1rem 1rem 1rem;
}
span.commentTime {
  font-size: 9px;
  position: absolute;
  right: 7px;
  top: 7px;
}
p.commentAuthor {
  min-block-size: auto;
  background: lavender;
  width: 30%;
  margin: 0.5rem 0;
  margin-top: 0;
  min-block-size: auto;
  background: lavender;
  font-weight: 600;
}
.comment-stuff {
  display: flex;
}
input#addComment {
  min-width: 50%;
  width: 50%;
}
.post-text form {
  display: flex;
}
input#addComment {
  min-width: 50%;
  width: 50%;
  height: 5rem;
}
.post-text button {
  width: 40%;
  margin: 1rem;
  text-align: right;
}
.post-img {
  max-width: 4rem;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 2px;
}
.comment-img {
  max-width: 3rem;
  border-radius: 50%;
  margin: 3px 3px;
  margin-left: 1rem;
}
span.commentReply {
  position: absolute;
  right: 10px;
  /* bottom: 5px; */
}
.u-text-small {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 300;
}
.inside-post {
  display: flex;
}
@media only screen and (max-width: 700px) {
  .post {
    box-shadow: 0px 10px 10px #0000002b;
    margin-bottom: 3rem;
  }
  .post-headings {
    display: block;
  }
  h3.heading-left,
  h3.heading-right {
    background: var(--bg-grad);
    padding: 5px;
    width: 100%;
    border-radius: 0;
    border: none;
    margin-top: 2px;
  }
  .post-headings p.timing {
    font-size: 12px;
    width: auto;
    min-height: auto;
  }
  .inside-post {
    display: block;
  }
  .post-text p {
    border-radius: 0;
    margin-top: 2px;
    min-height: 25rem;
    width: 100%;
  }
  .post-properties {
    width: 100%;
  }
  p.commentPShow {
    min-height: 3rem !important;
  }
  .post-img {
    border-radius: 50%;
    margin-bottom: 2px;
    margin-right: 5px;
    max-width: 4rem;
  }
  .comment-details {
    width: 85%;
  }
  p.commentAuthor {
    min-height: auto;
    padding: 0.5rem 1rem;
    width: 75%;
  }
  p.commentP {
    min-height: auto;
    margin-left: 3rem;
    width: 86%;
  }
  .replies-section p.replyAuthor {
    width: 75%;
    padding: 0.5rem 1rem;
  }
  .replies-section p.replyP {
    width: 84%;
    margin-left: 3rem;
  }
}
