@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --font-family: "Noto Sans", sans-serif;
  /* color palette */
  --dark-blue: #101330;
  --color-white: #fff;
  --dark-text: #333;
  --brown: #a8c5e3;
  --peach: #cfbbfd;
  --yllow: #c5d1fa;
  --blue: #aaa8e3;
  --sky: #bbedfd;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --bright-blue: #42a4fd;
  --bg-grad: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 191, 252, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  background: var(--dark-blue);
  /* background: white; */
}

section {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.posts,
.profile {
  max-height: 75vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brown);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
