@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --font-family: "Noto Sans", sans-serif;
  /* color palette */
  --dark-blue: #101330;
  --color-white: #fff;
  --dark-text: #333;
  --brown: #a8c5e3;
  /* --peach: #cfbbfd; */
  --peach: #ae8ff3;
  --yllow: #c5d1fa;
  --blue: #aaa8e3;
  /* --sky: #bbedfd; */
  /* --sky: #101330; */
  --sky: white;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --bright-blue: #42a4fd;
  --bg-grad: linear-gradient(
    330deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(141, 97, 255, 0.8925945378151261) 0%,
    rgba(0, 119, 255, 0.45) 100%
  );
  /* --bg-grad: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 191, 252, 1) 100%
  ); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  background: var(--bg-grad);
  min-height: 100vh;
  background-repeat: no-repeat;
  /* background: var(--dark-blue); */
  /* background: white; */
}

section {
  width: 100%;
}

.container {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 0 10px;
}

/* .posts,
.profile {
  max-height: 75vh;
  overflow: scroll;
} */
.home,
.profile {
  min-height: 90vh;
}

.posts {
  min-height: 122vh;
}
.posts-right {
  max-height: 122vh;
  height: 122vh;
  min-height: 122vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brown);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
.error-msg {
  background: #ffffff;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  color: red;
  width: auto;
}
.success-msg {
  background: #ffffff;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  color: green;
  width: auto;
}
